@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300&display=swap');


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: black;
    background: url(../images/galaxy.jpg) no-repeat;
    margin: 10px auto;
    text-align: center;
    color: white;
}

/* Header and introduction */
header {
    width: 80%;
    margin: 5px auto;
    background-color: rgba(0,0,0,0.8);
}

#logo {
    max-height: 60px;
    object-fit: contain;
}

h1 {
    font-size: 400%;
    color: red;
}

h2 {
    font-size: 250%;
    color: #4169E1;
}

.bazinga {
    font-family: Bangers, sans-serif;
    font-weight: 500;
}

.jump {
    color: white;
    font-size: 50%;
    font-weight: 250;
}

.jump:hover {
    color:#FFC000;
}

/* Game Area and buttons */

.game-area {
    width: 50%;
    margin: 2px auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 12px;
}

.btn {
    font-size: 250%;
    width: 80px;
    height: 80px;
    margin: 10px;
    border: none;
    border-radius: 50%;
}

.btn-player {
    cursor: pointer;
}

.btn-player:hover {
    color: #FFC000;
}

.btn-sheldon {
    cursor: not-allowed;
}

.selected {
    color: #FFC000;
}

.selected-sheldon {
    color: red;
}

.choice-area {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 12px;
    color: #4169E1;
    font-weight: bold;
}

.result-area {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 12px;
    color:white;
    font-family: Bangers, sans-serif;
    font-size: 140%;
    font-weight: 250;
}

.result-win {
    color: #FFC000;
}

.result-lose {
    color: red;
}

/* Score Area */
.score-area {
    width: 20%;
    margin: 10px auto;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 12px;
}

.you {
    font-family: Bangers, sans-serif;
    font-size: 150%;
    color:#FFC000;
}

.sheldon {
    font-family: Bangers, sans-serif;
    font-size: 150%;
    color: red;
}

/* Rules Area */
.rules-area {
    width: 50%;
    margin: 10px auto;
    padding: 30px;
    background-color: rgba(0,0,0,0.8);
    font-size: 120%;
}

.rules-img {
    max-height: 400px;
}

.rules-table {
    width: fit-content;
    height: fit-content;
    margin: 50px auto;
    text-align: left;
    font-size: 120%;
}

.blue {
    font-family: Bangers, sans-serif;
    font-weight: 300;
    color: #4169E1;
}

.yellow {
    font-family: Bangers, sans-serif;
    font-weight: 300;
    color: #FFC000;
}

.red {
    font-family: Bangers, sans-serif;
    font-weight: 300;
    color: red;
}

.rules-table td, th{
    padding: 15px;
}

/* Media Queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        margin: 5px auto;
        text-align: center;
    }
    
    header {
        width: 100%;
    }

    h2 {
        font-size: 130%;
    }

    h3 {
        font-size: 80%;
    }

    .game-area {
        width: 90%;
        margin: 3px auto;
    }

    .btn {
        font-size: 100%;
        width: 40px;
        height: 40px;
        margin: 5px;
    }

    .choice-area {
        font-size: 80%;
    }

    .score-area {
        width: 50%;
    }

    .you {
        font-size: 100%;
    }

    .sheldon {
        font-size: 100%;
    }

    .rules-area {
        width: fit-content;
        font-size: 80%;
        text-align: center;
        margin: 5px auto;
    }

    .rules-img {
        max-height: 250px;
    }

    .rules-table {
        font-size: 100%;
        margin: 20px auto;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        width: 90%;
    }

    .game-area {
        width: 90%;
    }

    .choice-area {
        font-size: 110%;
    }

    .score-area {
        width: 40%;
    }

    .rules-area {
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header {
        width: 80%;
    }
    
    .game-area {
        width: 70%;
    }

     .score-area {
        width: 30%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .game-area {
        width: 60%;
    }

     .score-area {
        width: 20%;
    }

    .rules-area {
        width: 50%;
    }

}